@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.app{
  font-family: 'Roboto', sans-serif;
}
a{
  font-weight: 500;
  color: white;
  text-decoration: underline;
}
.mg-top{
  margin-top:100px;
}
.mg-bottom{
  margin-bottom: 20px;
}
.col{
  padding: 0;
}
.container-fluid{
  padding:0 6%;
}

.theme-dark{
  background-color: #25544f;
  color: white;
}
.theme-light{
  background-color: #67b4ac;
  color: white;
}
.theme-light h5{
  font-weight: 600;
  color: black;
}
.button-sm{
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  padding: 8px 20px;
  font-weight: 400;
}
.button-m{
  width: fit-content;
  border-radius: 8px;
  text-align: center;
  padding: 15px 40px;
  font-weight: 500;
  box-shadow: 4px 3px 2px 0px #25544f88;
}
.button-lg{
  width: fit-content;
  border-radius: 8px;
  text-align: center;
  padding: 15px 50px;
  font-weight: 600;
  box-shadow: 4px 4px 2px 0px #25544f98;
}
.navbar{
  padding: 0 6%;
}
.font-white{
  color: white;
}
.skew{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 110vh;
  background: #67b4ac;
}
.skew::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: #fff;
  clip-path: polygon(100% 0,0 100%,100% 100%);
}

.section{
  padding: 100px 0;
}

.section h2{
  font-weight: bold;
  font-size: 350%;
  letter-spacing: 1px;
}

.section p{
  font-weight: 500;
}

.heading-section{
  text-align: center;
}

.kiss-image{
  width: 600px;
  height: 700px;
  position: absolute;
  top: -50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.card{
  width: 260px;
  height: 400px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 5px 2px 2px 0px #9cbab898;
    padding: 15px;
    margin-top: 50px;
}
.card > .icon{
  margin: 20px auto;
  width: 20%;
  padding-top: 20px;
}
.card  p{
  font-size: 14px;
  text-align: left;
}
.card h5{
  padding: 10px 0px;
}

.footer{
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 50px;
  font-size: 14px;
}
.footer h5{
  padding-bottom: 50px 0px;
}

@media screen and (max-width: 760px) {
  .kiss-image {
    width: 300px;
    height: 300px;
    align-self: baseline;
  }
  .row{
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .kiss-image {
    width: 200px;
    height: 200px;
    align-self: baseline;
  }
  .row{
    margin-top: 0;
  }
}
